{namespace co.uid}

/**
 * 
 * @param cardContent {String}
 *
 */
{template .card}

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                {$cardContent|noAutoescape}
            </div>
        </div>

    </div>
{/template}