<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/neo4j http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:annotation-config/>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!--<value>file:${user.home}/thumanConf/main.properties</value>-->
                <!--<value>file:${user.home}/thumanConf/jdbc.properties</value>-->
                <!--<value>file:${user.home}/thumanConf/neo4j.properties</value>-->
            </list>
        </property>
    </bean>

    <!-- Activate Spring Data Neo4j repository support -->
    <neo4j:repositories base-package="co.uid.repository"/>

    <neo4j:config graphDatabaseService="graphDatabaseService"/>
    <bean id="graphDatabaseService" class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
        <constructor-arg index="0" value="http://localhost:7474/db/data/" />
    </bean>

    <!--Localization-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:co/uid/messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="lang" />
        <property name="defaultLocale" value="ru"/>
    </bean>
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
    </mvc:interceptors>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver"  id="jsfViewResolver">
        <property name="viewClass" value="org.springframework.faces.mvc.JsfView"/>
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".xhtml" />
    </bean>


    <context:component-scan base-package="co.uid.dao"/>
    <context:component-scan base-package="co.uid.service"/>
    <!--<context:component-scan base-package="co.uid.utils">-->
        <!--<context:exclude-filter type="regex" expression="com.thuman.utils.DB"/>-->
        <!--<context:exclude-filter type="regex" expression="com.thuman.utils.Message"/>-->
    <!--</context:component-scan>-->
    <!--<context:component-scan base-package="co.uid.validator"/>-->
    <context:component-scan base-package="co.uid.controller"/>

    <bean id="message" class="co.uid.utils.Message" scope="prototype" />

</beans>